/* .hero{
    background: url(hero-bg.png) no-repeat;
  background-size: contain;
  position: relative;
}
.hero-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
} */